@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background: rgb(226,175,101);
    background: linear-gradient(90deg, rgba(226,175,101,1) 0%, rgba(247,150,215,1) 69%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.perguntas-da-kafra{
    width: 40%;
    min-height: 900px;
    box-shadow: 0px 25px 50px rgba(0,0,0, 0.3); 
    background-color: #FAEBD7;
    overflow: visible;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 300px;
    border-radius: 30px;
}

.perguntas-da-kafra .kafra{
    position: relative;
    left: -230px;
    margin: 10px -150px 10px 0px;

    /*effect fade*/
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.perguntas-da-kafra .conteudo{
    width: 80%;
    padding-bottom: 20px;
}

.perguntas-da-kafra .conteudo h1{
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    color: #ff794a;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas{
    list-style-type: none;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro{
    cursor: pointer;
    background-image: url(../img_new/pointer-closed.png);
    background-repeat: no-repeat;
    background-position: top 10px right 0;
    background-size: 24px 24px;
    border-bottom: 2px solid #ff4b8a;
    margin: 10px 0px;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro:last-child{
    border-bottom: none;
}

.item-do-quadro .pergunta{
    padding-bottom: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 90%;
    transition: 0.2s ease;
    
}

.item-do-quadro .pergunta:hover{  
    color:#ff4b8a;
}

.item-do-quadro .resposta{
    display: none;
    padding-bottom: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
} 

/* ESITLOS DO ITEM ATIVO */
.item-do-quadro.ativo h2{
    font-weight: 700;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo .resposta{
    display: block;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo{
    background-image: url(../img_new/pointer-open.png);
}
