@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background: rgb(226,175,101);
    background: linear-gradient(90deg, rgba(226,175,101,1) 0%, rgba(247,150,215,1) 69%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/src/img_new/background-kafra3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.perguntas-da-kafra{
    width: 60%;
    min-height: 900px;
    box-shadow: 0px 25px 50px rgba(0,0,0, 0.3); 
    
    /* EFEITO DE TRANSPARÊNCIA */
    /* background-color: #FAEBD7; */
    background-color: rgba(250, 235, 215, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: visible;
    display: flex;
    align-items: center;
    text-align: center;
    
    border-radius: 30px;
}

.perguntas-da-kafra .kafra{
    position: relative;
    left: -100px;
    /* margin: 10px px 10px 0px; */

    /* EFEITO DE FADE */
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.perguntas-da-kafra .conteudo{
    width: 40%;
    padding-bottom: 20px;
}

.perguntas-da-kafra .conteudo h1{
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ff794a;
    text-align: left;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas{
    list-style-type: none;
    margin:0;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro{
    cursor: pointer;
    background-image: url(../img_new/pointer-closed.png);
    background-repeat: no-repeat;
    background-position: top 10px right 0;
    background-size: 24px 24px;
    border-bottom: 2px dashed #ff4b8a;
    margin: 10px 10px;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro:last-child{
    border-bottom: none;
}

.item-do-quadro .pergunta{
    padding-bottom: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 90%;
    transition: 0.2s ease;
    text-align: left;
    
}

.item-do-quadro .pergunta:hover{  
    color:#ff4b8a;
}

.item-do-quadro .resposta{
    display: none;
    padding-bottom: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro .enriquecimento-resposta{
    display: none;
}



/* ESTILOS DO ITEM ESCONDIDO */
.item-do-quadro.escondido{
    display:none;
}

/* ESTILOS DO ITEM ATIVO */
.item-do-quadro.ativo h2{
    font-weight: 700;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo .resposta{
    display: block;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo{
    background-image: url(../img_new/pointer-open.png);
    border-bottom: none;;
}

/* SIMULAÇÃO SITE RAGNAROK ONLINE */

.item-do-quadro .icone-resposta{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -27px;
}

.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo .enriquecimento-resposta{
    display: flex;
    /* min-width: 980px; */
    /* definir min-height depois que os elementos da div estiverem bem organizados */
    font-family: 'Signika', sans-serif;
    border: 3px dashed #ff4b8a;
    background-color: rgba(255, 224, 234, 0.5);
    /* backdrop-filter: blur(20px); */
    /* -webkit-backdrop-filter: blur(20px); */
    margin: 0 10px 0 0;
}

.quadro-resposta{
    display: flex;
    padding: 20px 0 20px 0;
    margin: 0 35px;
}

.imagem-resposta{
    /* TO CENTER AN IMG IN THIS DIV */
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 50px 50px;
    max-width: 71px;
    max-height: 210px;
    height: 210px;
    background-color: white;
}

.descricao-resposta{
    display: flex;
    padding: 20px;
}


.perguntas-da-kafra .conteudo .quadro-de-perguntas .item-do-quadro.ativo .enriquecimento-resposta h4{
    color:#ff4b8a;
    text-align: left;
    font-size: 24px;
}

h4{
    text-align: center;
}

pre{
    color: #444444;
    text-align: left;
    margin: 0 0 20px 0;
    /* manter o conteúdo dentro da div */
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;   
}

article{
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}


/* EFEITO DE AUMENTAR QUANDO PASSAR O CURSOR */
/*
article{
    display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;

}

article:hover{
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    transition: all 0.2s;
}
*/

/*
.descricao-resposta{
    display: block;
    border-left: 1px solid #ff4b8a;
    text-align: left;
    font-size: 16px;
    color: #444444;
    margin: 0 0 20px 0;
} */


/* 
.item-do-quadro article{
    padding: 50px;
    text-align: left;
} */

/* ESTILOS RESPONSIVO */
